body {
    margin: 0;
    font-family: monospace , sans-serif ;
    width: 100%;
    background-image: url("/image/Netflix-Background.jpg");
}

.container {
    width: 100%;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 135px;
    margin-top: 28px;
    margin-left: 58px;
}

.button{
    background-color: red;
    border: none;
    color: white;
    font-family: sans-serif ;
    font-weight: lighter;
    width: 85px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 28px ;
    margin-right: 58px;
}